.add-address-div {
  border: 0.2px solid black;
  background-color: #effcec;
  padding: 10px;
}

.add-new-address {
  color: blue;
}

select {
  padding: 10px;
  width: 40%;
}

.address-input input {
  padding: 10px;
  width: 40%;
}

.landmark {
  width: 100%;
}
.address-input {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.address-radio-Btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.save-cancel-btn {
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.model-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container {
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .address-input input,
  .address-input select {
    padding: 5px;
    min-width: 200px;
  }

  #HOME,
  #work {
    min-width: 0px;
    gap: 0px;
    margin: 0px;
  }
}
