.product-veriants{
    margin: 10px 0px;
    display: flex;
    gap: 20px;
}

.product-heading{
    text-align: center;
}

.product{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(241, 209, 187);
    gap: 50px;
}

.product_img{
    max-width: 180px;
    height: auto;
}

.product_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.add-items-in-cart-form{
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(175, 171, 171);
}

.confirm-Cancel-btn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}