.signup {
  background-image: url('../../assets/login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 20px;
}

.signup-div {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  backdrop-filter: blur(50px);
}

.sign-up-heading {
  text-align: center;
  margin-bottom: 5px;
  color: blue;
}

.signup-div input {
  border: 1px solid black;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}

.user-type {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.signup-div .error {
  font-size: 14px;
  color: red;
  margin-bottom: 20px;
  margin-top: 0px;
}

@media screen and (max-width: 480px) {
  .sign-up-heading {
    margin-top: 0px;
  }
  .signup-div {
    width: 95%;
    max-width: 280px;
    padding: 12px;
  }

  .signup-div input {
    padding: 8px;
  }

  .user-type {
    flex-direction: row;
    gap: 8px;
  }
}
