.orders{
    min-height: 400px;
}
.orders-heading{
    text-align: center;
}

.order-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     gap: 10px;
     margin: 10px auto;
}

.items-cards{
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .confirm-modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  min-width: 300px;
} */

.order-confirm-cancel-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}